@import "bootstrap.less";

* {
  font-family: RobotoBold;
  .clearfix {
    .clearfix();
  }
}

header {
  text-transform: uppercase;
  min-height: 700px;
  height: ~"calc(100vh - 70px)";
  background-image: url("/img/header-img.png");
  background-repeat: no-repeat;
  background-size: contain 100%;
  background-color: grey;

  h1 {
    font-size: 60px;
    color:white;
    text-align: center;
    margin: 0;
    padding-top: 360px;
    padding-bottom: 70px;
  }

  @media (max-width: @screen-sm-max) {
    h1 {
      font-size: 50px;
      padding-bottom: 50px;
      padding-top: 320px;
    }
  }

  @media (max-width: @screen-xs-max) {
    h1 {
      font-size: 40px;
      padding-bottom: 70px;
      padding-top: 250px;
    }
  }

  @media (max-width: @screen-xs-min) {
    h1 {
      font-size: 38px;
      padding-bottom: 60px;
      padding-top: 200px;
    }
  }
  .header--learn-more {
    text-align: center;
  }
  a {
    color:white;
    font-size: 18px;
    border: 2px solid white;
    text-decoration: none;
    padding: 10px 30px;
  }

  a:hover, a:focus {
    border: 3px solid white;
  }

}

nav {
  clear: both;
  height: 70px;
  background: #252e30;


.nav--content {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items:center;
  }
  .nav--hrefs ul{
    margin: 0;
  }
  .nav--hrefs li{
    display: inline;
    font-size: 16px;
    color:white;
    margin-left: 30px;
    text-transform: uppercase;
  }
  .nav--hrefs a{
    text-decoration: none;
    color:white;
  }
  .nav--hrefs a:hover,  .nav--hrefs a:focus{
    color:#2ecc71;
  }

  .logo{
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:50px;
    width: 152px;
  }
  @media (max-width: @screen-sm-max) {
    display: none;
  }
}

.about-me {
  clear: both;
  .three-top-areas {
    height: 300px;
    display: flex;
    align-items: center;
  }

  .three-top-areas--header {
    padding-top: 20px;
    font-size: 30px;
    color:#566366;
    padding-bottom: 50px;
  }

  .three-top-areas--text {
    color: #919191;
    padding-bottom: 20px;
  }

  @media(max-width: @screen-xs-max) {
    .three-top-areas {
      width: 70%;
      display: block;
      margin: 0 auto;
      text-align: center;
      height: auto;
    }
  }

  .about-me--div {
    background: #f2f2f1;
    position: relative;
    height: 700px;
  }

  @media(max-width: @screen-sm-max) {
    .about-me--div {
      height: 800px;
    }
  }
  @media(max-width: @screen-xs-max) {
    .about-me--div {
      height: 850px;
    }
  }
  @media(max-width: @screen-xs-min) {
    .about-me--div {
      height: 1030px;
    }
  }
  .about-me--photo {
    position: absolute;
    top:0;
    left: 0;
    background: url("/img/about-me-photo.png");
    background-size: contain;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    clear: both;
  }

  .about-me--section {
    padding-top: 80px;
  }
  .about-me--header {
    font-size: 30px;
    color:#566366;
    padding-bottom: 40px;
  }
  .about-me--text{
    color:#919191;
    font-size: 18px;
    padding-bottom: 40px;
  }

  @media(max-width: @screen-lg-min) {
    .about-me--photo {
      width: 30%;
    }
  }
  @media(max-width: @screen-md-max) {
    .about-me--photo {
      width: 40%;
    }
  }
  @media(max-width: @screen-md-min) {
    .about-me--photo {
      width: 20%;
    }
  }
  @media(max-width: @screen-md-max) {
    .about-me--photo {
      width: 30%;
    }
  }

  @media(max-width: @screen-sm-min) {
    .about-me--photo {
      display: none;
    }
  }

  .skills--header {
    position: relative;
    font-size: 22px;
    padding-left: 20px;
    color: #8a9193;
    padding-bottom: 20px;
    img {
      position: absolute;
      top:-5px;
      left:0px;
    }
    .skills--header-text {
      padding-left: 30px;
    }
  }
  .skills-text {
    padding-left: 50px;
    color: #919191;
    font-size: 18px;
    padding-bottom: 30px;
  }
}

.my-skills {
  padding-top: 80px;


  .my-skills-header {
    color: #566366;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .my-skills--text {
    padding-top: 40px;
    font-size: 18px;
    color:#919191;
     padding-bottom: 40px;
  }

  .my-skills--perсent-text {
    font-size: 22px;
    color: #566366;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  .my-skills--line {
    height: 30px;
    width: 100%;
    background:#f2f2f1;
    margin-bottom: 30px;
    position: relative;
  }


  .line-1:after {
    position: absolute;
    content: '90% ';
    bottom:0;
    width: 90%;
    height: 30px;
    background: #2ecc71;
    color:white;
    line-height: 30px;
    text-align: right;
    font-size: 18px;
  }
  .line-2:after {
    position: absolute;
    content: '80% ';
    bottom:0;
    width: 80%;
    height: 30px;
    background: #2ecc71;
    color:white;
    line-height: 30px;
    text-align: right;
    font-size: 18px;
  }
  .line-3:after {
    position: absolute;
    content: '90% ';
    bottom:0;
    width: 90%;
    height: 30px;
    background: #2ecc71;
    color:white;
    line-height: 30px;
    text-align: right;
    font-size: 18px;
  }
  .line-4:after {
    position: absolute;
    content: '70% ';
    bottom:0;
    width: 70%;
    height: 30px;
    background: #2ecc71;
    color:white;
    line-height: 30px;
    text-align: right;
    font-size: 18px;
  }
}

.resume {
  position: relative;
  background: #f2f2f1;
  text-align: center;
  padding: 100px 0;
  .resume-header {
    color: #566366;
    font-size: 30px;
    padding-bottom: 54px;
  }
  .resume-text {
    color:#919191;
    font-size: 18px;
  }

  .resume-download--button {
    margin: 0 auto;
    margin-top:50px;
    width: 220px;
    height: 50px;
    border: 3px solid #2ecc71;
    color:#2ecc71;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 50px;
  }
  a {
    text-decoration: none;
  }
  .resume-download--button:hover {
    border: 4px solid #2ecc71;
  }
}
.resume::after {
  border: 20px solid transparent;
  border-top: 20px solid #f2f2f1;
  position: absolute;
  left: 50% -20px;
  bottom: -40px;
  content: ' ';
  margin-left: -10px;
}

.my-education {
  padding: 100px 0;
  .my-education-header {
    color:#566366;
    font-size: 30px;
    text-align: left;
    margin-bottom: 55px;
    margin-left: 15px;
  }
  .my-education-text {
    font-size: 18px;
    color: #919191;
    margin-bottom: 30px;
  }
  .my-education--diploma {
    .my-education--diploma-header {
      color:#566366;
      font-size: 22px;
      margin-bottom: 23px;
    }
    .my-education--diploma-subheader {
      font-size: 18px;
      color: #e2e2e2;
      margin-bottom: 22px;
    }
    .my-education--diploma-mark {
      padding: 0 15px;
      color: white;
      background: #2ecc71;
      width: 80px;
      text-align: center;
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    .my-education--diploma-text {
      font-size: 18px;
      margin-bottom: 70px;
      color: #919191;
    }
  }
  .my-education--diploma-line {
    height: 1px;
    background:#e2e2e2;
    width: 100%;
    margin-bottom: 30px;
  }
}
.carousel {
  padding: 100px 0;
  background: #f2f2f1;
  .carousel_list--wrap {
      width: 100%;
      overflow: hidden;
  }
  .carousel-list {
    .clearfix();
    width: 100000px;
    position: relative;
    transition: 1.5s;
    left: -15px;
    padding: 0;

  }
  @media(max-width: @screen-xs-max) {
    .carousel-list {
      width: 100000px;
    }
  }
  .carousel-item {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-size: 24px;
    color:#a0a0a0;
    padding: 0 15px;
  }
  .carousel-item-text {
    padding: 0 15px;
  }
  .carousel-name {
    padding: 50px 0;
    font-size: 18px;
    color:#566366;
  }
  .counters {
    text-align: center;
  }

  .counters-item-active {
    background: #2ecc71;
  }
  .counters-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #2ecc71;
    margin: 3px;
  }

  @media(min-width: @screen-lg) {
    .carousel-item {
      width: @container-lg;
    }
  }

  @media(max-width: @screen-md-max) {
    .carousel-item {
      width: @container-md;
    }
  }
  @media(max-width: @screen-sm-max) {
    .carousel-item {
      width: @container-sm;
    }
  }
  @media(max-width: @screen-xs-max) {
    .carousel-item {
      width: 100vw;
      margin:0 auto;
      padding: 0 15px;
    }
  }


   .counters-item:hover {
     border: 2px solid #2ecc71;
   }

}
.portfolio {
  padding: 100px 0 70px 0;
  .portfolio-header {
    text-align: center;
    font-size: 30px;
    color:#566366;
    padding-bottom: 50px;
    text-transform: uppercase;
  }
  .portfolio-subheader {
    text-align: center;
    font-size: 18px;
    color:#919191;
    padding-bottom: 100px;

  }
  .portfolio-filter {
    height: 300px;
    font-size: 18px;
    background: #252e30;
    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 30px;
    .portfolio-filter-header {
      padding: 0 0 20px 30px;
      color:white;
      text-transform: uppercase;
    }
    li {
      list-style-type: none;
      padding-left: 30px;
      padding-bottom: 14px;
    }
    ul {
      padding: 0;
      a {
        color: #919191;
        text-decoration: none;
      }
      a:hover {
        color:white;
      }
      .active {
        color: white;
      }
    }
  }
  .portfolio-img a{
    height: 300px;
    display: block;
    position: relative;
    max-width: 336px;
    margin: 0 auto;
  }

  .portfolio-img img{
    height: 300px;
  }
  .portfolio-img {
    margin-bottom: 35px;
  }
  .portfolio-img--ico {
    background: url('/img/port-ico.png');
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
  }
  .portfolio-img--background{
    background: #2ecc71;
    opacity: 0.9;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
  }

  .portfolio-img a:hover {
    .portfolio-img--background, .portfolio-img--ico {
      display: block;
    }
  }
  .portfolio-img--image-1 {
    background: url("/img/port-1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;

  }
  .portfolio-img--image-2 {
    background: url("/img/port-2.png");
    background-repeat: no-repeat;
    height: 300px;
  }
  .portfolio-img--image-3 {
    background: url("/img/port-3.png");
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
  }
  .portfolio-img--image-4 {
    background: url("/img/port-4.png");
    background-repeat: no-repeat;
    height: 300px;
  }
  .portfolio-img--image-5 {
    background: url("/img/port-5.png");
    background-repeat: no-repeat;
    height: 300px;
  }
  .portfolio-img--image-6 {
    background: url("/img/port-6.png");
    background-repeat: no-repeat;
    height: 300px;
  }
  .portfolio-img--image-7 {
    background: url("/img/port-7.png");
    background-repeat: no-repeat;
    height: 300px;
  }
  .portfolio-img--image-8 {
    background: url("/img/port-8.png");
    background-repeat: no-repeat;
    height: 300px;
  }

  @media(max-width: @screen-sm-max) {
    .portfolio-filter, .portfolio-img{
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media(max-width: @screen-sm-max) {
    .portfolio-filter {
      width: 336px;
    }
  }
  @media(min-width: @screen-md-min) {
    .portfolio-filter {
      width: auto;
    }
  }
  @media(min-width: @screen-md-max) {
    .portfolio-filter {
      width: 336px;
    }
  }

}

.contact{
  background: #252e30;
  padding: 100px 0;
  font-size: 18px;
  color:white;
  .contact-header {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 50px;
  }
  .contact-text {
    color: #919191;
  }
  .contact-text--email, .contact-text--phone {
    display: inline-block;
    color:white;
    margin-right: 45px;
  }
  .contact-text--email-value, .contact-text--phone-value {
    display: inline-block;
  }
  .contact-text--phone-value {
    margin-bottom: 30px;
  }
  .contact--form-text {
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
  }
  .contact--form-text::after {
    position: absolute;
    content: '*';
    top:0;
    right: -14px;
    color: #919191;
  }
  input, textarea {
    display: block;
    width: 100%;
    height: 50px;
    background: #4b5456;
    margin-bottom: 25px;
    border: 0;
    padding: 10px;
  }
  input:focus {
    border:0
  }
  textarea {
    height: 250px;
  }
  button {
    width: 187px;
    height: 52px;
    background: #191f21;
    color:white;
    text-transform: uppercase;
    border: 0;
  }
  button:hover {
    border:1px solid grey;
  }
}

footer {
  background: #191f21;
  padding: 50px 0;
  font-size: 14px;
  color:#4b5456;
  text-align: center;
  text-transform: uppercase;

  .footer-social li {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  ul {
    padding: 0;
  }
  .twitter {
    background: url("/img/twi.png");
    width: 49px;
    height: 49px;
  }
  a:hover div {
    transform: scale(1.05);
  }
  .facebook {
    background: url("/img/face.png");
    width: 49px;
    height: 49px;
  }
  .pinterest {
    background: url("/img/pint.png");
    width: 49px;
    height: 49px;
  }
  .google {
    background: url("/img/goog.png");
    width: 49px;
    height: 49px;
  }
  .dribbble {
    background: url("/img/dr.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 43px;
    height: 49px;
  }
  .linkedin {
    background: url("/img/link.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 43px;
    height: 49px;
  }

}









